﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Master>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
    var siteSettings = Umbraco.Content("1116");
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" /> <!-- shopping cart icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" /> <!-- google material symbols -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Value("homepageName", fallback: Fallback.ToAncestors) - @Model.Value("pageTitle")</title>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
  </head>

<body>
<header class="site-header">
  <nav class="main-navigation">
    <div class="brand">
      <h1 class="brand-title">Luxury & Co</h1>
    </div>
    <ul class="nav-list flex justify-center space-x-6 text-lg font-bold">
      <li><a class="nav-link" href="/">@siteSettings.Value("homeText", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
      <li><a class="nav-link" href="/watches">@siteSettings.Value("watchesText", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
      <li><a class="nav-link" href="/perfume">@siteSettings.Value("perfumeText", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
      <li><a class="nav-link" href="/spirits">@siteSettings.Value("spiritsText", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
      <li><a class="nav-link" href="/cars">@siteSettings.Value("carsText", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
    </ul>
    
    <div class="cart-icon flex items-center">
      <button id="theme-toggle">
        <span class="material-symbols-outlined" id="theme-icon">light_mode</span>
      </button>
      <i class="material-symbols-outlined">shopping_cart</i>
    </div>
  </nav>
</header>

<main class="site-main">
  @RenderBody()
</main>

<footer class="site-footer">
  <div class="footer-info">
    <p class="footer-slogan">@siteSettings.Value("footerSlogan", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</p>
    <nav class="footer-navigation flex justify-center w-full">
      <ul class="footer-list flex space-x-6 text-lg font-bold">
        <li><a class="footer-link" href="/about-us">@siteSettings.Value("aboutUsButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/contact">@siteSettings.Value("contactButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/jobs">@siteSettings.Value("jobsButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/support">@siteSettings.Value("supportButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/faq">@siteSettings.Value("faqButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/newsletter">@siteSettings.Value("newsletterButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/privacy-policy">@siteSettings.Value("privacyPolicyButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/terms-of-service">@siteSettings.Value("termsOfServiceButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
        <li><a class="footer-link" href="/imprint">@siteSettings.Value("imprintButtonName", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-copyright">
    <p>@siteSettings.Value("footerCopyright", culture: System.Threading.Thread.CurrentThread.CurrentUICulture.Name)</p>
  </div>
</footer>
</body>

<style>
      body {
        min-height: 100vh;
        margin: 1rem;
        background-color:  white;
        color:  black;
        display: flex;
        flex-direction: column;
      }

      .site-header {
        margin-top: 1rem;
        padding: 1rem 0;
        border-bottom: .2rem solid black;
        background: transparent;
      }
      
      body.dark-mode {
        background-color: black;
        color: white;
      }
     
      body.dark-mode  .site-header {
        border-bottom:  .2rem solid white;
      }
     
      .main-navigation {
        color: #006039;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .brand-title {
        cursor: pointer;
        margin: 0 1rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
      }

      .nav-list li {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .nav-link {
        cursor: pointer;
        margin: 0 1rem;
        transition: opacity .25s;
        font-size: 1.8rem;
      }

      .nav-link:hover {
        color: #ffc107;
        opacity: 0.6;
      }

      .cart-icon i {
        cursor: pointer;
        margin: 0 1rem;
        transition: opacity .25s;
      }

      .cart-icon i:hover {
        opacity: 0.6;
        color: #ffc107;
      }

      .site-main {
        margin: 1rem 0;
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .site-footer {
        margin: 0 -1rem -1rem -1rem;
        padding: 1rem 0;
        border-top: 3px solid black;
        background-color: #313134;
        color: grey;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.02);
        text-align: center;
        overflow: hidden;
      }
      
      body.dark-mode .site-footer {
        border-top:  3px solid white;
        color: lightgrey;
      }
      
      .footer-info {
        padding-top: 0.1rem;
        margin-bottom: 1rem;
      }

      .footer-slogan {
        margin-bottom: 0.5rem;
      }

      .footer-list {
        justify-content: center;
      }

      .footer-link {
        transition: color .25s;
      }

      .footer-link:hover {
        color: #6b7280;
      }

      .footer-copyright {
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
        color: #6b7280;
        font-weight: 400;
        font-size: 0.875rem;
        display: block;
      }
    </style>
    
<script>
  const toggleButton = document.getElementById('theme-toggle');
  const themeIcon = document.getElementById('theme-icon');
  
  function updateIcon() {
    if (document.body.classList.contains('dark-mode')) {
      themeIcon.textContent = 'dark_mode';
    } else {
      themeIcon.textContent = 'light_mode';
    }
  }
  
  updateIcon();
  
  toggleButton.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode');
    updateIcon();
  });
</script>

</html>